footer
  .container.text-center
    p.pull-left © 2016 Sexy Dudes. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/landalex/nwhacks2016web') GitHub Project
      li
        a(href='https://github.com/landalex/nwhacks2016web/issues') Issues
